*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width:100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(240, 214, 214);
    position: relative;
}
#nav{
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom:2px solid black;
}
#nav h5{
    padding: 4px 6px;
    margin: 4px;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border-radius: 10px;
    border:2px solid black ;
    text-transform: uppercase;
}

#center{
    height: calc(100% - 70px);
    width: 100%;
    position: relative;
    padding: 12px 12px;
}
#centerin h1{
    font-size: 70px;
    font-family: Sans-serif;
    text-transform: uppercase;
    position: absolute;
    left:48%;
    white-space: nowrap;
    font-weight: 900;
    font-style: italic;
    transform: translate(-49%,0);

}
#centerin h2{
    font-size: 70px;
    font-family: Sans-serif;
    text-transform: uppercase;
    position: absolute;
    left:47.9%;
    top:5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 2px;
    color: transparent;
    white-space: nowrap;
    font-weight: 900;
    font-style: italic;
    transform: translate(-50%,0);

}
#img{
    position: relative;
    top:60%;
    height: 70%;
    width:50%;
    left: 49%;
    border-radius: 60%;
    border: 3px solid black;
    transform: translate(-50%, -50%);
    /* background-color: red; */
}
#img img{
    height: 95%;
    width: 95%;
    border-radius: 50%;
    object-fit: cover;
    /* align-items: center; */
    /* justify-content: center; */
    position: absolute;
    object-position: 70%;
    left:3%;
    top:3%;
}
button:hover{
    cursor: pointer;
}
button{
    display: flex;
    position: absolute;
    padding: 7px 12px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 50%;
    top: 20%;
    transform: rotate(-8deg);
    left:80%;
    width: 25%;
    height: 25%;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: capitalize;
    background-color: aqua;
}
#socks{
    width: 120px;
    height: 120px;
    border :2px solid black;
    top:30%;
    left: 22%;
    /* z-index: 99; */
    /* background-image: url('https://images.unsplash.com/photo-1632691085121-fc6eb35d5665?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1480&q=80'); */
    position: absolute;
    background-size: cover;
    transform: rotate(8deg);
    background-position: center;


}
#socks::after{
    content: "";
    width: 120px;
    height: 120px;
    background-image: url('https://images.unsplash.com/photo-1632691085121-fc6eb35d5665?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1480&q=80');
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index:-1;
    bottom: -10px;
    right:-15px;
    border:2px solid black;
    top:-10%;

}