*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height:100%;
    font-family: sans-serif;
}
#main{
    width: 100%;
    height:100%;
    background-color: #dadada;
}
#nav{
    background-color:#e6e6e6;
width: 100%;
/* height:100px; */
padding: 12px 12px;
justify-content: center;
align-items: center;
text-align: center;
display: flex;
justify-content: space-between;
}
#nav h1{
text-transform: uppercase;
font-weight: 900;

}
#heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
    background-color:#e6e6e6;
}
#link{
    right: 20vh;
    position: absolute;
}
#link a{
    margin-right:20px ;
    text-decoration: none;
    font-family: "Voyage";
}
#nav h1 span{
    font-weight: 100;
}
#heading p{
  width: 50%;
  text-align: center;
  margin: 13px 0px;
}
#heading button{
    padding: 10px 27px;
    background-color: black;
    color: #dadada;
    border-radius: 100px;
}

#img{
    width: 100%;
}
#img img{
    width: 100%;
}

#left{
    width: 48%;
    border-right: 3px solid black;
    padding: 12px 44px;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: flex-end ;
    flex-direction: column;
    gap:23px

    
}
#left p{
    top:122px;
    text-align: right;
    width: 60%;
}

#baap{
   width: 100%;
   display: flex;
   margin-top:34px ;
   padding: 10vw 5vw;
   gap: 23px;
}

#right{
    width: 48%;
    padding: 12px 12px;
    gap:13px;
    display: flex;
    flex-direction: column;
}

#right p{
    width: 40%;
}
