html,body{
    height: 100%;
    width: 100%;
}

.button{

         padding: 8px 16px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    display: inline-block;
    font-size: 31px;

}
.row{
    margin: 8px 0;
}


.row input{
    margin: 0px;
    padding: 8px 0px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 22px;
}
