*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    /* align-items: center;
    justify-content: center;
    display: flex; */
    background-color: #dadada;
}
#center{
    width:80%;
    height: 80%;
    /* background-color: red; */
    position: absolute;
    left:20%;
    top:50%;
    transform: translate(0%,-50%);
    
}
.image{
    width:0%;
    height: 100%;
    overflow: hidden;
    /* background-color: yellow; */
    position: absolute;
}
img{
    /* width: 100%; */
    height: 100%;
    /* object-fit: cover; */
}
/* #one{
    height: 100%;
    width: 20%;
} */

#text{
    width: 300px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    bottom: 15%;
    left: -6%;
    z-index: 999;
    /* background-color: red; */
}
#text h1{
    top:100px;
    position: absolute;
    font-size: 4vw;
}